body {
    font-family: 'Noto Sans Myanmar', Arial, Helvetica, sans-serif; 
    font-size: 15px; 
    font-weight: 200;

    background-color:#F7F5FA;

    max-width: 1440px;
    margin: auto;
}

nav {
    font-size: 15px;
    border-bottom: #EEEEEE solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


nav > a {
    border: none;
    margin: 10px;
    padding: 2px 8px;
}

nav > a:hover {
    border: none;
    font-weight: 600;
}

a {
    color: #080707;
    text-decoration: none;
    border-bottom: black solid 1px;
}

a:hover {
    border-bottom: aqua solid 3px;
}
a:active {
    
    background-color: rgb(215, 229, 229);
}

.kitchen-tool{
    display: flex;
    flex-direction: row;
}

.equipment-1, .equipment-2, .equipment-3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
    
    padding-top: 40px;

    border-radius: 15px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    margin-left: 100px;
  }

  .mixing {
    width: 80%;
  }
  
  .scale {
    width: 80%;
  }

  .s-1{
    margin-left: 90px;
    width: 80%;
    border-color: #ebdcec;
    border-style: solid;
    border-radius: 15px;
    border-width: 12pt;
  }

  .equipment-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  
  .kitchen-container {
    text-align: center;
    width: 250px;
    padding: 2px 16px;
    font-size: 15px;
  }


  .swiper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: 50px;

        margin-top: 200px;
        margin-bottom: 70px;
        width:900px;
  }

  .cake-swiper-wrapper{
    align-items: center;
  }
